/******************************************************************************
 * These style definitions form part of the KeepItSimple template.
 ******************************************************************************/
body  {
    background: #122E2F;
    font-family: "Georgia";
    font-size: 14px;
    color: #444444;
    margin: 0;
}
p {
    margin: 4px 0px 10px 0px !important;
    padding-right: 10px;
}
#container {
    width: 800px !important;
    margin: 0 auto;
    background: #FFFFFF;
}
#header {
    padding: 45px 20px 20px 0px;
    font-size: 32px;
    text-align: right;
    font-family: "Tahoma";
    color: #333;
    background: #fff url('../images/water.jpg') no-repeat;
}
#menu {
    background-color: #7c9da2;
    color: #fff;
    font-size: 13px;
    padding: 6px 0 6px 40px;
}
#menu a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    font-family: "Arial Narrow", "Myriad Pro";
}
#menu a:hover {
    color: #fff;
}
#sidebar {
    float: left;
    width: 140px;
    padding: 20px 0 0 20px;
    margin: 0;
}
h1 {
    margin: 0px;
    color: #869843;
    font-size:24px !important;
    font-family: "Arial Narrow", "Myriad Pro";
    font-weight: normal;
}
h2 {
    color: #3b7687;
    font-size: 15px !important;
    margin: 15px 0 5px 0 !important;
}
#main, #full {
    width: 620px;
    margin: 0 0 0 180px;
    padding: 10px 10px 10px 0;
}
#full {
    margin: 0 0 0 10px;
    width: 780px;
}
#main a, #full a {
    color: #3b7687;
    text-decoration: none;
}
#main a:hover, #full a:hover {
    color: #444444;
}
#footer {
    padding: 6px 20px 6px 40px;
    background: #7c9da2;
    font-family: "Lucida Sans Unicode";
    color: #fff;
    font-size: 11px;
    text-align: right;
}
#footer a {
    text-decoration: none;
    color: #fff;
}
#footer a:hover {
    color: #fff;
}
.separator {
    font-size:11px;
    color:#FFFFFF;
}

/******************************************************************************
 * These style definitions are used by ExtJS, and do not form part of the
 * KeepItSimple template.
 ******************************************************************************/

/* Transparent toolbar and buttons bars */
.x-toolbar td {
    background-color: transparent !important;
}
.x-panel-btns td {
    background-color: transparent !important;
}

/* Bug fix.  3.1.0 has bad path in the grey theme. */
.x-toolbar .xtb-sep {
    background-image: url("/ext-3.1/resources/images/default/grid/grid-split.gif") !important;
}

/* Put a light border around our extended text fields in grids. */
.x-grid3-row-body {
    margin: 0 5 5 5;
    border: 1px solid #ededed;
}
.x-grid3-padded-cell {
    margin: 5 5 5 5;
}

/* This applies to all GridPanel and EditGridPanel headers */
td.x-grid3-hd-inner, .x-grid3-hd-inner {
    border-left:1px solid #aaccf6;
    border-right:1px solid #aaccf6;
    border-bottom:1px solid #aaccf6;
    background: #ededed;
    font-style: italic;
}

/* This is for visually marking a row as deleted */
.x-grid3-deleted-row div {
    text-decoration: line-through;
    color: #c00000;
}

/* ASSET STYLES */
.add { background-image:url(../images/add.png) !important; }
.remove { background-image:url(../images/remove.png) !important; }
.save { background-image:url(../images/save.png) !important; }
.detail { background-image:url(../images/detail.png) !important; }
.help { background-image:url(../images/help.png) !important; }
.reload { background-image:url(../images/reload.png) !important; }
.up { background-image:url(../images/up.png) !important; }
.down { background-image:url(../images/down.png) !important; }
.next { background-image:url(../images/next.png) !important; }
.prev { background-image:url(../images/prev.png) !important; }
.copy { background-image:url(../images/copy.png) !important; }
.paste { background-image:url(../images/paste.png) !important; }
.edit { background-image:url(../images/edit.png) !important; }
.cancel { background-image:url(../images/cancel.png) !important; }

.x-grid3-padded-cell {
    padding: 5px 5px 5px 5px !important;
}

/* HELP STYLES */
.x-window-body {
    padding: 5px 5px 5px 5px !important;
    background-color: #fff !important;
}
.x-window-body p, .x-window-body h2 {
    margin-bottom:10px !important;
}
.x-window-mc body, .x-window-mc td {
    font-family:tahoma,arial,helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    margin-bottom:5px;
}
hr.topic {
    margin-top: 20px;
    margin-right: 20px;
    color: #888888;
}
p.topic {
    color: #7c9da2;
    font-weight: bold;
    font-size: 110%;
    width: 100%;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
td.note {
    vertical-align: top;
    text-align: right;
}
table.helptable {
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
}
table.helptable td {
    border: 1px solid #aaaaaa;
    padding: 4px 4px 4px 4px !important;
    vertical-align: top;
}
.align-right {
    text-align: right;
}
