#
# Periodic system execution of clean_sessions perl script.
#
# Distributed by N-Squared Software.
#
[Unit]
Description=Jarvis Perl CGI Session cleanup script.

[Service]
Type=oneshot
ExecStart=/usr/bin/perl /usr/share/jarvis/bin/clean_sessions.pl --debug >> /var/log/clean_sessions.log 2>&1 &
