#
# Periodic system execution of clean_sessions service.
#
# Distributed by N-Squared Software.
#
[Unit]
Description=Jarvis Perl CGI Session Service Timer.

[Timer]
OnUnitActiveSec=1h
OnBootSec=30s

[Install]
WantedBy=timers.target
