/**
 * Styles for the titlebar of the application.
 */
div.title-bar {
    background: #efefff;
    height: 30px;
    padding: 5px;
    display: block;
    border-bottom: solid 2px #aaaaff;
}

div.title-bar h1 {
    font-weight: bold;
    font-size: 1.5em;
    color: #333388;
    font-variant: small-caps;
    float:left;
}

div.logout-button {
    float:right;
    font-size: 0.8em;
    font-weight: bold;
    color: #333388;
    text-decoration: underline;
    cursor: pointer;
}

/**
 * Style to make the SQL text shown onscreen look good as code.
 */
pre.sh_sql {
    font-size: 12px;
    font-style: Courier New;
    margin: 5px;
}

div.codeView {
    overflow: auto;
}

div.sh_sourceCode {
    overflow: auto;
}

/**
 * All graphs get this class. No special styles yet for it.
 */
div.data-visualisation {
}

/**
 * Error grids
 */
div.error-details {
    overflow: auto;
    font-family: tahoma,helvetica,sans-serif;
}

div.error-details table {
    width: 100%;
}

div.error-details td {
    padding: 5px;
    font-size: 10px;
    font-family: tahoma,helvetica,sans-serif;
}

div.error-details th {
    padding: 5px;
    font-size: 11px;
    text-align: right;
    width: 150px;
    font-weight: bold;
    vertical-align: top;
    font-family: tahoma,helvetica,sans-serif;
}


/**
 * For event timeline 
 */

.timeline-default {
    font-family: Trebuchet MS, Helvetica, Arial, sans serif;
    font-size: 8pt;
    border: 1px solid #aaa;
}

.tape-special_event, .small-special_event { background-color: orange; }


.footnotes {
    background: #eee;
    padding: 0.25em;
}

.controls {
    margin: 1em 0;
    padding: 0.5em;
}

.testtest {
    height: 400px;
}

div.timeline-event-bubble-time {
    font-family: Trebuchet MS, Helvetica, Arial, sans serif;
    font-size: 8pt;
    color: '#999';
}

div.timeline-event-bubble-body {
    font-family: Trebuchet MS, Helvetica, Arial, sans serif;
    font-size: 8pt;
    color: 'black';
}

div.timeline-event-bubble-body table {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 15px;
}

div.timeline-event-bubble-body td {
    font-family: Trebuchet MS, Helvetica, Arial, sans serif;
    font-size: 8pt;
    color: 'black';
}

div.timeline-event-bubble-body td.parameter {
    font-family: Trebuchet MS, Helvetica, Arial, sans serif;
    font-size: 8pt;
    font-style: italic;
    padding-right: 10px;
    text-align: right;
}

div.timeline-event-bubble-title {
    font-family: Trebuchet MS, Helvetica, Arial, sans serif;
    font-size: 10pt;
    color: 'black';
}

