/**
 * Styles for the titlebar of the application.
 */
div.title-bar {
    background: #efefff;
    height: 30px;
    padding: 5px;
    display: block;
    border-bottom: solid 2px #aaaaff;
}

div.title-bar h1 {
    font-weight: bold;
    font-size: 1.5em;
    color: #333388;
    font-variant: small-caps;
    float:left;
}

div.logout-button {
    float:right;
    font-size: 0.8em;
    font-weight: bold;
    color: #333388;
    text-decoration: underline;
    cursor: pointer;
}

/**
 * Style to make the SQL text shown onscreen look good as code.
 */
pre.sh_sql {
    font-size: 12px;
    font-style: Courier New;
    margin: 5px;
}

div.codeView {
    overflow: auto;
}

div.sh_sourceCode {
    overflow: auto;
}

/**
 * All graphs get this class. No special styles yet for it.
 */
div.data-visualisation {
}

